[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ParetoPosStable"]
	path = ParetoPosStable
	url = https://github.com/ajsaez/paretoposstable
